@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>CipherBowl is a company based in Seattle, Washington, specializing in innovative, high-quality bowls for various uses. Their headquarters is a modern, eco-friendly building in the city's tech district. The diverse team includes visionary leaders, talented designers, tech experts, and dedicated customer support.
CipherBowl's product line includes:</p>

<ul>
    <li>
        CipherBowl Fresh: Airtight, stackable bowls with freshness indicators.
    </li>
    <li>
        CipherBowl Serve: Elegant serving bowls with detachable compartments.
    </li>
    <li>
        CipherBowl Eco: Biodegradable, eco-friendly bowls.
    </li>
    <li>
        CipherBowl Tech: High-tech bowls with embedded sensors for tracking nutritional info.
    </li>
    <li>
        CipherBowl Kids: Fun, spill-resistant bowls designed for children.
    </li>
</ul>


<p>Their mission is to revolutionize how people use bowls, blending functionality, innovation, and style.</p>
