@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CipherBowl</h1>
    <img src="~/img/CipherBowl_Logo_white_bg.jpg" alt="Logo" style="height: 300px; vertical-align: middle;" />
</div>

